<%= render "layouts/search_address_form",
           is_complaint: 1,
           div_id: "complaint_address_form",
           field_id: 'complaint_address_field',
           button_id: 'complaint_address_button' %>

<%= form_with model: @complaint do |f| %>
  <div class="field">
    <div class="control">
      <%= f.hidden_field :latitude, class: 'input', readonly: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.hidden_field :longitude, class: 'input', readonly: true %>
    </div>
  </div>

  <div class="field">
    <%= f.label(:noise_type, "Tipo de ruído", class: "label") %>
    <div class="control">
      <div class="select">
          <%= f.select(:noise_type, options_for_select(
            [
              ["Disparo de alarmes", 1],
              ["Música alta", 2],
              ["Obras de construção civil", 3],
              ["Ruídos de vizinhos", 4],
              ["Tráfego de veículos", 5]
            ], 1), class:"select") %>
      </div>
    </div>
  </div>

  <div id="description_field" class="field">
    <%= f.label(:description, "Descrição", class: "label") %>
    <div class="control">
      <%= f.text_area :description, placeholder: "Descreva a situação", class: 'textarea', required: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.button nil, class: 'button is-success is-pulled-left', type: "submit" do %>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span> 
        <span>Criar relato</span> 
      <% end %>

      <button id="reset_button" type="button" class="button is-danger is-outlined is-pulled-right">
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
        <span>Cancelar</span>
      </button>
    </div>
  </div>
<% end %>