<%= render "layouts/search_address_form",
           is_complaint: 1,
           div_id: "complaint_address_form",
           field_id: "complaint_address_field",
           button_id: "complaint_address_button" %>

<%= form_with model: @complaint do |f| %>
  <div class="field">
    <div class="control">
      <%= f.hidden_field :latitude, class: 'input', readonly: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.hidden_field :longitude, class: 'input', readonly: true %>
    </div>
  </div>

  <div class="field">
    <%= f.label(:noise_type, "Fonte do ruído", class: "label") %>
    <div class="control">
      <div class="select">
      <%= f.select(:noise_type, options_for_select(
            [ 
              ["Residência", 1],
              ["Comércio", 2],
              ["Indústria", 3],
              ["Templo religioso", 4],
              ["Transporte", 5],
              ["Construção civil", 6],
              ["Outros", 7]
          ]), required: true ) %>
      </div>
    </div>
  </div>

  <div id="description_field" class="field">
    <%= f.label(:description, "Descrição", class: "label") %>
    <div class="control">
      <%= f.text_area :description, placeholder: "Descreva a situação", class: 'textarea', required: true %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.button nil, class: 'button is-success is-pulled-left', type: "submit" do %>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span> 
        <span>Criar relato</span> 
      <% end %>

      <button id="reset_button" type="button" class="button is-danger is-outlined is-pulled-right">
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
        <span>Cancelar</span>
      </button>
    </div>
  </div>
<% end %>