<!DOCTYPE html>
<html>
  <head>
    <title>Mapa de Ruído Urbano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
   
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://d3js.org/d3.v4.js"></script>
</html>
